{% extends "layout.html" %}

{% block title %}
    Group Stage
{% endblock %}

{% block main %}
<form action="/ro16" method="post">
<br>
<h3 style="color: white; text-align: center;">Group Stage</h3>
<br>
<div class="row">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group A</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/netherlands.gif" alt="..." class="pics"><p>Netherlands</p></th>
                <th scope="row"><img src="static/flags/senegal.gif" alt="..." class="pics"><p>Senegal</p></th>
                <th scope="row"><img src="static/flags/ecuador.gif" alt="..." class="pics"><p>Ecuador</p></th>
                <th scope="row"><img src="static/flags/qatar.gif" alt="..." class="pics"><p>Qatar</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group A?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="1">
                        <option disabled selected>Select</option>
                        <option>Netherlands</option>
                        <option>Senegal</option>
                        <option>Ecuador</option>
                        <option>Qatar</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group A?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="2">
                        <option disabled selected>Select</option>
                        <option>Netherlands</option>
                        <option>Senegal</option>
                        <option>Ecuador</option>
                        <option>Qatar</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group B</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/england.png" alt="..." class="pics"><p>England</p></th>
                <th scope="row"><img src="static/flags/unitedstates.gif" alt="..." class="pics"><p>United States</p></th>
                <th scope="row"><img src="static/flags/wales.jpg" alt="..." class="pics"><p>Wales</p></th>
                <th scope="row"><img src="static/flags/iran.gif" alt="..." class="pics"><p>Iran</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group B?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="3">
                        <option disabled selected>Select</option>
                        <option>England</option>
                        <option>United States</option>
                        <option>Wales</option>
                        <option>Iran</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group B?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="4">
                        <option disabled selected>Select</option>
                        <option>England</option>
                        <option>United States</option>
                        <option>Wales</option>
                        <option>Iran</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div class="row">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group C</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/argentina.gif" alt="..." class="pics"><p>Argentina</p></th>
                <th scope="row"><img src="static/flags/mexico.gif" alt="..." class="pics"><p>Mexico</p></th>
                <th scope="row"><img src="static/flags/poland.gif" alt="..." class="pics"><p>Poland</p></th>
                <th scope="row"><img src="static/flags/saudiarabia.gif" alt="..." class="pics"><p>Saudi Arabia</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group C?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="5">
                        <option disabled selected>Select</option>
                        <option>Argentina</option>
                        <option>Mexico</option>
                        <option>Poland</option>
                        <option>Saudi Arabia</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group C?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="6">
                        <option disabled selected>Select</option>
                        <option>Argentina</option>
                        <option>Mexico</option>
                        <option>Poland</option>
                        <option>Saudi Arabia</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group D</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/france.gif" alt="..." class="pics"><p>France</p></th>
                <th scope="row"><img src="static/flags/denmark.gif" alt="..." class="pics"><p>Denmark</p></th>
                <th scope="row"><img src="static/flags/tunisia.gif" alt="..." class="pics"><p>Tunisia</p></th>
                <th scope="row"><img src="static/flags/australia.gif" alt="..." class="pics"><p>Australia</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group D?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="7">
                        <option disabled selected>Select</option>
                        <option>France</option>
                        <option>Denmark</option>
                        <option>Tunisia</option>
                        <option>Australia</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group D?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="8">
                        <option disabled selected>Select</option>
                        <option>France</option>
                        <option>Denmark</option>
                        <option>Tunisia</option>
                        <option>Australia</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div class="row">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group E</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/spain.gif" alt="..." class="pics"><p>Spain</p></th>
                <th scope="row"><img src="static/flags/germany.gif" alt="..." class="pics"><p>Germany</p></th>
                <th scope="row"><img src="static/flags/japan.gif" alt="..." class="pics"><p>Japan</p></th>
                <th scope="row"><img src="static/flags/costarica.gif" alt="..." class="pics"><p>Costa Rica</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group E?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="9">
                        <option disabled selected>Select</option>
                        <option>Spain</option>
                        <option>Germany</option>
                        <option>Japan</option>
                        <option>Costa Rica</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group E?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="10">
                        <option disabled selected>Select</option>
                        <option>Spain</option>
                        <option>Germany</option>
                        <option>Japan</option>
                        <option>Costa Rica</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group F</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/belgium.gif" alt="..." class="pics"><p>Belgium</p></th>
                <th scope="row"><img src="static/flags/croatia.gif" alt="..." class="pics"><p>Croatia</p></th>
                <th scope="row"><img src="static/flags/morocco.gif" alt="..." class="pics"><p>Morocco</p></th>
                <th scope="row"><img src="static/flags/canada.gif" alt="..." class="pics"><p>Canada</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group F?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="11">
                        <option disabled selected>Select</option>
                        <option>Belgium</option>
                        <option>Croatia</option>
                        <option>Morocco</option>
                        <option>Canada</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group F?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="12">
                        <option disabled selected>Select</option>
                        <option>Belgium</option>
                        <option>Croatia</option>
                        <option>Morocco</option>
                        <option>Canada</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div class="row">
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group G</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/brazil.gif" alt="..." class="pics"><p>Brazil</p></th>
                <th scope="row"><img src="static/flags/switzerland.gif" alt="..." class="pics"><p>Switzerland</p></th>
                <th scope="row"><img src="static/flags/serbia.gif" alt="..." class="pics"><p>Serbia</p></th>
                <th scope="row"><img src="static/flags/cameroon.gif" alt="..." class="pics"><p>Cameroon</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group G?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="13">
                        <option disabled selected>Select</option>
                        <option>Brazil</option>
                        <option>Switzerland</option>
                        <option>Serbia</option>
                        <option>Cameroon</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group G?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="14">
                        <option disabled selected>Select</option>
                        <option>Brazil</option>
                        <option>Switzerland</option>
                        <option>Serbia</option>
                        <option>Cameroon</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr class="table-light">
                <td colspan="4">Group H</td>
            </tr>
            <tr>
                <th scope="row"><img src="static/flags/portugal.gif" alt="..." class="pics"><p>Portugal</p></th>
                <th scope="row"><img src="static/flags/uruguay.gif" alt="..." class="pics"><p>Uruguay</p></th>
                <th scope="row"><img src="static/flags/southkorea.gif" alt="..." class="pics"><p>Korea Republic</p></th>
                <th scope="row"><img src="static/flags/ghana.gif" alt="..." class="pics"><p>Ghana</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Who will come first in Group H?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="15">
                        <option disabled selected>Select</option>
                        <option>Portugal</option>
                        <option>Uruguay</option>
                        <option>Korea Republic</option>
                        <option>Ghana</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Who will come second in Group H?</td>
                <td colspan="2">
                    <select class="form-select mx-auto w-auto" name="16">
                        <option disabled selected>Select</option>
                        <option>Portugal</option>
                        <option>Uruguay</option>
                        <option>Korea Republic</option>
                        <option>Ghana</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button class="btn btn-primary" style="margin-left: 712px;" type="submit">Advance</button>
<br>
<br>
</form>
{% endblock %}